# Create a .env file in the same directory and fill in the values.

NEXT_PUBLIC_PORTFOLIO_BACKEND_URL= # For fetching the Company's Projects!

# please contact the developer if facing any issues with the setup!